{% extends "blog/base.html" %}
{% block content %}
    <h1>Клуб Python RTK </h1>

<p>Сегодня поговорим о том, что такое Python, чем же он хорош и почему его сломя голову бросаются учить тысячи начинающих и опытных IT-специалистов.</p>

<p>Что такое Python?</p>
Python (произносится как «пайтон», но многие говорят «питон») – это язык программирования общего назначения, который широко применяется в различных областях: от создания банальных веб-страниц до систем управления роверами на других планетах.

Язык скриптовый, он универсален и является самым популярным языком программирования в мире (по данным издания Tiobe, составляющего топы наиболее востребованных языков).

<p>Что пишут на Python?</p>
Что вздумается. Любой программный продукт, независимо от сложности и специфики, можно создать на Python и одном из сотен фреймворков, разработанных для него.

<p>Веб-разработка</p>
Для создания веб-приложений и сайтов используются сторонние библиотеки в духе Pyromid, Flask, Django и десятков других, помогающих заменить PHP и JavaScript.

На Python даже полноценные системы управления данными пишут, которые впоследствии становятся аналогами мастодонтов наподобие WordPress и Drupal. Также на Python создают вспомогательные инструменты для работы с вебом, например скрапперы, собирающие информацию с чужих веб-страниц.

<p>Десктопная разработка</p>
На Python создавались мощные приложения и инфраструктуры, например редактор изображений GIMP, магазин приложений в операционной системе Ubuntu, редакторы 3D-графики, bittorrent-сети и т.п. Список можно продолжать долго.

Также Python нередко становится составной частью подобных приложений. Например, Sublime Text написан на С++, а расширения и плагины для него написаны на Python.

<p>Так что Python можно нередко встретить в совершенное неожиданных местах.</p>

<p>Мобильная разработка</p>
Приложения для iOS и Android создаются на сотнях различных языков, и Python в их числе. Чаще, конечно, это касается их серверной составляющей, потому что за интерфейс отвечают более распространенные фреймворки либо какие-то узкоспециализированные технологии. Тем не менее за бэкенд (то есть внутреннюю логику программы) часто отвечает именно Python.

<p>Видеоигры</p>
Python используется в разработке игр как раз из-за возможности создавать с помощью языка надежные и продуманные скрипты. Они отвечают за движение персонажей, выполнение каких-либо действий, переход от одного события в игре к другому и так далее.

Поэтому Пайтон можно встретить под капотом множества хитовых игр, во многие из которых вы наверняка успели поиграть (тот же крайне популярный World of Tanks).

Но при желании язык можно задействовать и для создания графических интерфейсов.

<p>ОС</p>
Конечно, Windows или Linux на Python не написаны (хотя язык во многие из этих ОС встроен по умолчанию), но подсистемы для банкоматов или мини-компьютеров по типу Raspberry Pi часто создаются именно при помощи Пайтона. То же касается станков, автоматизированых механизмов для управления температурой и т.п.

Можете вспомнить об этом, когда в следующий раз будете снимать деньги в банкомате Сбербанка.

<p>Где еще применяется Python?</p>
У Пайтона много лиц, и часть из них окучила всю науку. Существуют инструменты в духе NumPy и Matplotlib, которые всерьез используются в научной сфере. Специалисты из NASA и других крупных корпораций задействуют скрипты Python для серьезных вычислений.

Математики и физики любят Python всей душой, и для них это один из наиболее часто используемых языков. Специалисты пишут при помощи Пайтона полнофункциональные нейросети, программируют поведение роботов, создают мощнейшие системы анализа данных в интернете, способные обрабатывать колоссальные объемы текста и цифр.

Ровер на Марсе

Очень много «серьезной» работы выполняется при помощи Python. Что уж говорить, если этот язык помогает нам не только на Земле, но и вовсю оккупирует нашего соседа.

<p>Почему Python так хорош?</p>
Python – это скриптовый язык с довольно простым синтаксисом. Новичкам он дается легче, чем другие языки, и специалисты уже успели адаптировать его под огромнейший спектр задач. Все остались довольны, ведь структура и логика в Python удовлетворяет потребностям всех категорий разработчиков, независимо от их навыков и сферы деятельности.

При разработке на Питоне в большинстве случаев требуется писать куда меньше кода, чем при работе с его конкурентами. Сам синтаксис визуально чище и предельно логичен.

<p>Другие преимущества:</p>

Язык работает на всех платформах, поэтому с помощью него можно разрабатывать программы на чем угодно и под что угодно.
У языка колоссальная поддержка и действительно внушительная коллекция дополнений от сторонних разработчиков.
У него динамическая типизация (можно передавать в функции любой тип данных, предварительно его не указывая).
Он интерпретируемый, что позволяет раньше находить ошибки в ПО (до его полной сборки в полноценное приложение).
Также Пайтон славится своей системой оповещения об ошибках. Язык очень ясно дает понять, где и почему возникла ошибка. В отличие от того же C++.

<p>Принцип оповещения об ошибках в Python и C++
</p>
<p>Основные недостатки Python</p>
Python медлительный. Он способен на многое, но это многое он делает медленнее конкурентов.

Python не особо адекватно распоряжается памятью и часто «съедает» больше ресурсов, чем для решения тех же задач использовали бы JavaScript или C.

Python строго привязан к системным библиотеками. Отсюда возникают сложности при попытке использовать язык на новых программных платформах.

<p>Какие приложения написаны на Python?</p>
Python лег в основу десятков крупнейших программных продуктов на планете. В их числе Instagram – серверная часть приложения, Google, Spotify, Netflix, Uber, Dropbox, Pinterest, Reddit и т.п.

Как видите, ваши любимые сайты и приложения используют этот язык, что недвусмысленно намекает на ваши безграничные возможности при владении Пайтоном.

<p>Вакансии и зарплаты</p>
Питон – востребованный язык программирования, и найти работу, зная его, не так сложно. Вакансий море: от простейших должностей на стажировке (делать базовые скрипты) до работы в крупнейших корпорациях планеты (создавать сложнейшие инфраструктуры).

Зарплата варьируется в зависимости от предстоящей работы. Новички получают от 40 тысяч рублей. Но есть и совершенно впечатляющие ставки – от 1 000 000 рублей в месяц. Работы много как в России, так и за ее пределами.

<p>Где учиться?</p>
Пайтону учат почти все школы в духе Skillbox или Нетологии. Хорошие преподаватели и достойная учебная программа доступна на Hexlet.io. Сотни занятий проводятся в Coursera и Udemy. Если нет желания платить, то бескорыстные индусы с YouTube вам в помощь. На площадке тысячи обучающих роликов, многие из которых получше лекций от профессоров.

К тому же у языка есть полноценная документация, которая лежит на официальном сайте и доступна всем желающим. Информации по языку там в избытке.

<p>Вместо заключения</p>
Python – это универсальный, перспективный и относительно несложный в изучении язык. Идеальный выбор для тех, кто хочет попробовать IT-разработку, но еще не знает, какого рода продукты хочет создавать.



{% endblock content %}