{% extends "blog/base.html" %}
{% block content %}

    <h1>Клуб Python RTK </h1>

<h3>Встречи нашего клуба!</h3>
<p>Встречи каждый четверг с 18 до 23 часов.</p>
<p> В эпоху цифровых технологий, когда все больше людей проводят время онлайн, офлайн мероприятия становятся особенно важными. Они позволяют общаться и обмениваться опытом с коллегами из своей отрасли, получать новые знания и навыки, а также расширять свой профессиональный кругозор.</p>
<p>Вы можете оставить свои контакты и перед следующей встречей получить приглашение</p>


<p><a href="mailto:blog@rtkpyblog.ru?body=привет?subject=Хочу  на встречу ">Напишите нам и мы обязательно пригласил Вас на следующую встречу</a></p>

<!--<div class="form-wrap">-->
<!--  <div class="profile"><img src="https://avatars.mds.yandex.net/i?id=b24984dfbb7970d9ef6a93b66f67f0b94cab9b4d-9985849-images-thumbs&ref=rim&n=33&w=200&h=200">-->
<!--    <h1>Регистрация</h1>-->
<!--  </div>-->
<!--  <form method="post" action="form.php">-->
<!--    <div>-->
<!--      <label for="name">Имя</label>-->
<!--      <input type="text" name="name" required>-->
<!--    </div>-->
<!--    <div class="radio">-->
<!--      <span>Пол</span>-->
<!--      <label>-->
<!--        <input type="radio" name="sex" value="мужской">мужской-->
<!--        <div class="radio-control male"></div>-->
<!--      </label>-->
<!--      <label>-->
<!--        <input type="radio" name="sex" value="женский">женский-->
<!--        <div class="radio-control female"></div>-->
<!--      </label>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for="email">E-mail</label>-->
<!--      <input type="email" name="email" required>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for="country">Страна</label>-->
<!--      <select name="country">-->
<!--        <option>Выберите страну проживания</option>-->
<!--        <option value="Россия">Россия</option>-->
<!--        <option value="Беларусь">Беларусь</option>-->
<!--      </select>-->
<!--      <div class="select-arrow"></div>-->
<!--    </div>-->
<!--    <button type="submit">Отправить</button>-->
<!--  </form>-->
<!--</div>-->


{% endblock content %}
